# Terraform
.terraform/
*.tfstate
*.tfstate.*
# Keep .terraform.lock.hcl in Git

# Node
node_modules/
npm-debug.log*

# Environment
.env
.env.*

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
github-trust-policy.json